<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="graspBuilder"
         name="Grasp Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="uk.ac.standrews.grasp.ide.builder.GraspBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="graspNature"
         name="Grasp Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="uk.ac.standrews.grasp.ide.builder.GraspNature">
         </run>
      </runtime>
      <builder
            id="uk.ac.standrews.grasp.ide.graspBuilder">
      </builder>
   </extension>
   <extension
         id="graspProblem"
         name="Grasp Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Grasp Editor"
            extensions="grasp"
            icon="icons/sample.gif"
            contributorClass="uk.ac.standrews.grasp.ide.editors.GraspEditorContributor"
            class="uk.ac.standrews.grasp.ide.editors.GraspEditor"
            id="uk.ac.standrews.grasp.ide.editors.GraspEditor">
         <contentTypeBinding
               contentTypeId="uk.ac.standrews.grasp.ide.graspSourceFile">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.standrews.grasp.ide.editors.GraspTextEditor"
            default="false"
            id="uk.ac.standrews.grasp.ide.editors.GraspTextEditor"
            name="Grasp Text Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Grasp Perspective"
            icon="icons/releng_gears.gif"
            class="uk.ac.standrews.grasp.ide.perspectives.GraspPerspective"
            id="uk.ac.standrews.grasp.ide.perspectives.GraspPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <newWizardShortcut
               id="uk.ac.standrews.grasp.ide.wizards.newArchitecture">
         </newWizardShortcut>
         <newWizardShortcut
               id="uk.ac.standrews.grasp.ide.wizards.newProject">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Grasp"
            id="uk.ac.standrews.grasp.ide">
      </category>
      <view
            name="Architecture Preview"
            icon="icons/sample.gif"
            category="uk.ac.standrews.grasp.ide"
            class="uk.ac.standrews.grasp.ide.views.GefView"
            id="uk.ac.standrews.grasp.ide.views.GefView">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="grasp"
            id="uk.ac.standrews.grasp.ide.graspSourceFile"
            name="Grasp Source File"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="uk.ac.standrews.grasp.ide.newWizardCategory"
            name="Grasp">
      </category>
      <wizard
            canFinishEarly="false"
            category="uk.ac.standrews.grasp.ide.newWizardCategory"
            class="uk.ac.standrews.grasp.ide.wizards.NewProjectWizard"
            finalPerspective="uk.ac.standrews.grasp.ide.perspectives.GraspPerspective"
            hasPages="true"
            icon="icons/sample.gif"
            id="uk.ac.standrews.grasp.ide.wizards.newProject"
            name="Grasp Project"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="uk.ac.standrews.grasp.ide.newWizardCategory"
            class="uk.ac.standrews.grasp.ide.wizards.NewArchitectureWizard"
            hasPages="true"
            id="uk.ac.standrews.grasp.ide.wizards.newArchitecture"
            name="Architecture"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="uk.ac.standrews.grasp.ide.preferences.GraspPreferencePage"
            id="uk.ac.standrews.grasp.ide.preferences.Grasp"
            name="Grasp">
      </page>
      <page
            category="uk.ac.standrews.grasp.ide.preferences.Grasp"
            class="uk.ac.standrews.grasp.ide.preferences.TextEditorPreferencesPage"
            id="uk.ac.standrews.grasp.ide.preferences.TextEditor"
            name="Text Editor">
      </page>
      <page
            category="uk.ac.standrews.grasp.ide.preferences.Grasp"
            class="uk.ac.standrews.grasp.ide.preferences.CompilerPreferencesPage"
            id="uk.ac.standrews.grasp.ide.preferences.Compiler"
            name="Compiler">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.standrews.grasp.ide.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="uk.ac.standrews.grasp.ide.wizards.newArchitecture">
         <enablement></enablement>
      </commonWizard>
   </extension>

</plugin>
