<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="graspBuilder"
         name="Grasp Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="uk.ac.standrews.grasp.ide.builder.GraspBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="graspNature"
         name="Grasp Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="uk.ac.standrews.grasp.ide.builder.GraspNature">
         </run>
      </runtime>
      <builder
            id="uk.ac.standrews.grasp.ide.graspBuilder">
      </builder>
   </extension>
   <extension
         id="graspProblem"
         name="Grasp Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Grasp Editor"
            extensions="grasp"
            icon="icons/sample.gif"
            contributorClass="uk.ac.standrews.grasp.ide.editors.GraspEditorContributor"
            class="uk.ac.standrews.grasp.ide.editors.GraspEditor"
            id="uk.ac.standrews.grasp.ide.editors.GraspEditor">
         <contentTypeBinding
               contentTypeId="uk.ac.standrews.grasp.ide.graspSourceFile">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.standrews.grasp.ide.editors.GraspTextEditor"
            default="false"
            id="uk.ac.standrews.grasp.ide.editors.GraspTextEditor"
            name="Grasp Text Editor">
      </editor>
      <editor
            class="uk.ac.standrews.grasp.ide.editors.GraspDesigner"
            contributorClass="uk.ac.standrews.grasp.ide.editors.GraspDesignerContributor"
            default="false"
            id="uk.ac.standrews.grasp.ide.editors.GraspDesigner"
            name="Grasp Designer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Grasp Perspective"
            icon="icons/releng_gears.gif"
            class="uk.ac.standrews.grasp.ide.perspectives.GraspPerspective"
            id="uk.ac.standrews.grasp.ide.perspectives.GraspPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <newWizardShortcut
               id="uk.ac.standrews.grasp.ide.wizards.newArchitecture">
         </newWizardShortcut>
         <newWizardShortcut
               id="uk.ac.standrews.grasp.ide.wizards.newProject">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Grasp"
            id="uk.ac.standrews.grasp.ide">
      </category>
      <view
            name="Architecture Preview"
            icon="icons/sample.gif"
            category="uk.ac.standrews.grasp.ide"
            class="uk.ac.standrews.grasp.ide.views.GefView"
            id="uk.ac.standrews.grasp.ide.views.GefView">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="grasp"
            id="uk.ac.standrews.grasp.ide.graspSourceFile"
            name="Grasp Source File"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="uk.ac.standrews.grasp.ide.newWizardCategory"
            name="Grasp">
      </category>
      <wizard
            canFinishEarly="false"
            category="uk.ac.standrews.grasp.ide.newWizardCategory"
            class="uk.ac.standrews.grasp.ide.wizards.NewProjectWizard"
            finalPerspective="uk.ac.standrews.grasp.ide.perspectives.GraspPerspective"
            hasPages="true"
            icon="icons/sample.gif"
            id="uk.ac.standrews.grasp.ide.wizards.newProject"
            name="Grasp Project"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="uk.ac.standrews.grasp.ide.newWizardCategory"
            class="uk.ac.standrews.grasp.ide.wizards.NewArchitectureWizard"
            hasPages="true"
            id="uk.ac.standrews.grasp.ide.wizards.newArchitecture"
            name="Architecture"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="uk.ac.standrews.grasp.ide.preferences.GraspPreferencePage"
            id="uk.ac.standrews.grasp.ide.preferences.Grasp"
            name="Grasp">
      </page>
      <page
            category="uk.ac.standrews.grasp.ide.preferences.Grasp"
            class="uk.ac.standrews.grasp.ide.preferences.TextEditorPreferencesPage"
            id="uk.ac.standrews.grasp.ide.preferences.TextEditor"
            name="Text Editor">
      </page>
      <page
            category="uk.ac.standrews.grasp.ide.preferences.Grasp"
            class="uk.ac.standrews.grasp.ide.preferences.CompilerPreferencesPage"
            id="uk.ac.standrews.grasp.ide.preferences.Compiler"
            name="Compiler">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.standrews.grasp.ide.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="uk.ac.standrews.grasp.ide.wizards.newArchitecture">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="uk.ac.standrews.grasp.ide.handlers.DesignerDeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="uk.ac.standrews.grasp.ide.editors.GraspDesigner">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.AnnotationModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.ConnectorModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.ComponentModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.ExpressionModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.NamedValueModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.ArchitectureModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.QualityAttributeModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.ReasonModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.RequirementModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.LayerModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.LinkModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.SystemModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.CheckModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.PropertyModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.RationaleModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.TemplateModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.ProvidesModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.standrews.grasp.ide.model.RequiresModel"
            class="uk.ac.standrews.grasp.ide.model.properties.PropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>

</plugin>
